html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}



ul {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	display: inline;
	}



body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: white;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }
a {  text-decoration: none; 
     border-bottom: 1px dotted;
     padding-bottom: .2em;
}

/* header styles */

#headerbaground{
  background:url("https://ridermagazine.com/wp-content/uploads/2020/04/MSF-logo.jpg")
}



header {
  color: white;  
  background-size: cover; 
  text-align: center;
  height: 15em;
}
header p {
  font-style: italic;
  font-size: 1.2em;
}

/* nav styles */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #1034E5;
}
nav ul li a:link, nav ul li a:visited {
  color: #f4f1ed;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* main "products" styles */
main {
  font-family: 'Stint Ultra Expanded', cursive;
  background-color: white;
  line-height: 1.8em;
  color: #555;
  padding: 1em;
  border: double 4px #42eef2;
  border-radius: 25px;
}
h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #7A0002;
  border-top: 1px solid;   
  border-left: 3px solid;   
  padding-left: 1em;
}

h2 {
  font-family: 'Stint Ultra Expanded', cursive;
}
